<div class="container mt-2">
  <div class="card card-block">
    <div class="card-body">
      <nav class="navbar navbar-dark bg-inverse mb-1">
        <h1 class="navbar-brand mb-0">Cluster 1</h1>
      </nav>
      <table app-nodes class="table table-hover">
        <tr app-nodes-row *ngFor="let node of cluster1" [node]="node"></tr>
      </table>
      <nav class="navbar navbar-dark bg-inverse mb-1">
        <h1 class="navbar-brand mb-0">Cluster 2</h1>
      </nav>
      <table app-nodes class="table table-hover">
        <tr app-nodes-row *ngFor="let node of cluster2" [node]="node"></tr>
      </table>
    </div>
  </div>
  <div class="row">
    <app-metric
      class="col-sm-6"
      [used]="cpu.used"
      [available]="cpu.available"
    >
      <span metric-title>CPU</span>  
      <span metric-description>utilization of CPU cores</span>
    </app-metric>

    <app-metric
      class="col-sm-6"
      [used]="mem.used"
      [available]="mem.available"
    >
      <span metric-title>Memory</span>  
      <span metric-description>utilization of memory in GB</span>
    </app-metric>
  </div>
</div>
