<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <ng-content select="[metric-title]"></ng-content>
    </mat-card-title>
    <mat-card-subtitle><ng-content select="[metric-description]"></ng-content></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h4 class="card-title">{{value}}/{{max}} ({{value/max | percent: '1.0-2'}})</h4>
    <mat-progress-bar mode="determinate" [value]="value" [color]="isDanger() ? 'warn' : 'primary'"></mat-progress-bar>
  </mat-card-content>
</mat-card>
